OPENCLAW_GO2_URL=http://<go2-ip>:18789
OPENCLAW_TB4_URL=http://<tb4-ip>:18789
OPENCLAW_GO2_TOKEN=<go2-token>
OPENCLAW_TB4_TOKEN=<tb4-token>
VITE_OPENCLAW_GO2_TOKEN=<go2-token>
VITE_OPENCLAW_TB4_TOKEN=<tb4-token>
VITE_TB4_CAMERA_URL=http://<camera-ip>:7654/stream?topic=/oakd/rgb/image_raw&type=mjpeg
VITE_GO2_CAMERA_URL=http://<go2-ip>:7654/stream?topic=/camera/color/image_raw&type=mjpeg
